################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Source/1
/AESEncode.html
/Source
/github.url
