* {
    font-family: Microsoft JhengHei;
    font-size: 18px;
}

.page {
    position: relative;
}

    .page .pageValue {
        color: #ddd;
        font-size: 0.5em;
        position: absolute;
        right: 0;
    }

.chapter {
    line-height: 7em;
    padding-left: 5em;
}

.sentence {
    line-height: 3em;
    min-height: 3em;
    text-align: justify;
    text-indent: 2em;
}

    .sentence span {
        display: inline-block;
        text-align: center;
        text-indent: 0;
    }

        .sentence span span {
            display: block;
            text-align: center;
        }

            .sentence span span:first-child {
                font-size: 0.5em;
                line-height: 1em;
            }

            .sentence span span:last-child {
                line-height: 1.5em;
            }

::placeholder {
    color: black;
}

:-ms-input-placeholder {
    color: black;
}

::-ms-input-placeholder {
    color: black;
}
