* {
    box-sizing: border-box;
    cursor: default;
    font-family: Microsoft JhengHei;
    font-size: 25px;
}

html, body
{
    height: 100%;
    margin: 0;
    width: 100%;
}

#container {
    border:  5px solid green;
    margin: 10px;
    width: 100%;
}

.page {
    position: relative;
}

    .page .pageValue {
        color: #ddd;
        font-size: 20px;
        position: absolute;
        right: 10px;
    }

.chapter {
    line-height: 140px;
    padding-left: 100px;
}

.sentence {
    border: 2px solid black;
    line-height: 70px;
    text-align: justify;
}

    .sentence span {
        display: inline-block;
    }

        .sentence span span {
            display: block;
        }

        .sentence span span:first-child {
            font-size: 20px;
            line-height: 20px;
            text-align: center;
        }

        .sentence span span:last-child {
            line-height: 35px;
            font-size: 30px;
        }
